<h1>Here is the post created by {{post.creatorId.name}}</h1>

<div class="posts">
    <div class="single-post">
        <h4>{{post.content}}</h4>
        <div class="post-image">
            <img src={{post.picPath}} alt="">
        </div>
        <p>{{post.creatorId.name}}</p>
        <p>{{post.createdAt}}</p>
    </div>
</div>