<img src={{ correctPost.picPath }} alt={{ correctPost.picName }}>
<p>Description: {{ correctPost.content }}</p>
<p>Posted By: {{ correctPost.creatorId.name }}</p>

<h1>All Comments</h1>

{{#each comments}}
   <img src={{ imagePath }} alt={{ imageName }}>
    <p>Description: {{ content }}</p>
    <p>Posted By: {{ creatorId.name }}</p> 
{{/each}}

<h1>Create Comment</h1>
<form action="/comment/{{ correctPost._id }}/create" method="POST" enctype="multipart/form-data">
  <label for="input-content">Content</label>
  <input type="text" id="input-name" name="content" placeholder="Content"/>
  <label for="input-imageName">Pic name</label>
  <input type="text" id="input-imageName" name="imageName" placeholder="Image Name"/>
  <input type="file" name="photo"/>
  <input type="submit" value="Upload"/>
</form>
