{{#if user}}
    <h1>Create Post</h1>
    <form action="/posts/post" method="post" enctype="multipart/form-data">
        <textarea name="content" cols="30" rows="10"></textarea>
        <input type="file" name="image">
        <button>Post</button>
    </form>
{{else}}
    <h2>Sign in to post</h2>
{{/if}}

<div>
    <h1>Posts</h1>
    {{#each posts}}
        <div>
            <img src={{this.imgUrl}} alt="">
            <h4>{{this.content}}</p>
            <h5>{{this.author.name}}</h5>
            <h6>{{this.createdAt}}</h6>
        </div>
    {{/each}}
</div>