<article>
  <h5>{{post.picName}}</h5>
  <figure>
    <img src="{{post.picPath}}" alt="{{post.picName}}">
  </figure>
  <p>{{post.content}}</p>
</article>

<a href="/comment/{{post._id}}/create">Comment this post</a>

{{#each comments}} 
{{>comment}}
{{/each}}

